<div id="main-content">
  <form>
    <label for="location">Location</label>
    <input id="location" type="text" name="location" value="" data-bind-location="">
    <button data-on-click__prevent="@get('/landing')">Cancel</button>
    <button type="submit" data-on-click__prevent="@post('/submit')">Submit</button>
  </form>
</div>
