<div id="main-content">
  <form>
    <label for="date">Date</label>
    <input id="date" type="date" name="date" value="" data-bind-date="">
    <button data-on-click__prevent="@get('/landing')">Cancel</button>
    <button type="submit" data-on-click__prevent="@post('/submit')">Submit</button>
  </form>
</div>
