<div id="main-content">
<form>
  <label for="name">Name</label>
  <input id="name" type="text" name="name" value="" data-bind-name="">
  <button data-on-click__prevent="@get('/landing')">Cancel</button>
  <button type="submit" data-on-click__prevent="@post('/submit')">Submit</button>
</form>
</div>
