<div id="main-content">
  Welcome to the landing page.
  <button data-on-click__prevent="@get('/form1')">Form 1</button>
  <button data-on-click__prevent="@get('/form2')">Form 2</button>
  <button data-on-click__prevent="@get('/form3')">Form 3</button>
</div>
